.header-wrapper {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 108px;
  width: 100%;
}
.header {
  color: #fff;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;

}
.movie-options{
  padding: 20px;
  span{
    padding: 10px;
  }
  a{
    text-decoration: none;
    color: #fff;
  }
}