<div class="container">
  <div class="title-container">
    <h1 class="title-section">Series Populares</h1>
    <button *ngIf="router.url === '/home'" [routerLink]="['/tv']" class="btn-list">Ver Todos</button>
  </div>
  <div class="series-grid">
    <a
      class="series-card"
      *ngFor="let s of series"
      [routerLink]="['/tv', s.id]"
    >
      <img
        [src]="'https://image.tmdb.org/t/p/w500' + s.poster_path"
        [alt]="s.name"
      />
      <div class="series-info">
        <h2>{{ s.name }}</h2>
        <p>{{ s.release_date | date }}</p>
      </div>
    </a>
  </div>

  <div #anchor class="scroll-anchor"></div>
</div>
